
  

<!--ion-view view-title="{{titulo_mapa}}"-->
<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced"  align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


  <ion-nav-title>
	Conectar
  </ion-nav-title>



  <ion-content>

	<ion-list>
      <ion-item>

        <div class = "row">
 
<div class = "col text-center">
              <button class = "button button-positive"><img ng-src="img/buttons/sos.svg" class="center" style="width: 50px; height: 50px">
              </button>


SOS
            </div>
 
 
<div class = "col text-center">
              <button class = "button button-positive"><img ng-src="img/buttons/warning.svg" class="center" style="width: 50px; height: 50px"></button>
Ambar
            </div>
 
 <div class = "col text-center">
              <button class = "button button-positive"><img ng-src="img/buttons/config.svg" class="center" style="width: 50px; height: 50px"></button>
Config
            </div>
 
          </div>



      </ion-item>

      


</ion-list>
  
    

</ion-content>

</ion-view>


